.component-list li button {
    width: 100%;
    margin: 8px 0;
}

.questions-list li {
    width: 100%;
    margin: 8px 0;
}

.apply-icon {
    font-size: 26px;
}

.button_icon {
    font-size: 22px;
}

.clear-button {
    margin-right: 12px;
}

.questions-title{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/*
.scroll-form{
    max-height: 700px;
    overflow-y: scroll;
}
*/
